* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1950px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}   

.containe {
    max-width: 1500px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}   

.back a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

.nav_bar {
    padding: 30px;
    width: 95%;
}

.header {
    background-color: #2B2B2B;
    height: 500vh;
}

.non {
    display: flex;
    float: right;
    gap: 25px;
}

.list__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 42px;
    color: white;
    position: relative;
    transition: 0.5s;
}

#mavlon3 {
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid gold;
}

.list_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 42px;
    color: black;
    margin-top: 30px;
    font-size: 20px;
    width: 195px;
    height: 53px;
    padding: 15px;
    text-align: center;

    border-radius: 10px;
    background: #A259FF;

    color: #ffff;
    position: relative;
    transition: 0.5s;
}

.list__link:hover{
    color: #F7D22D;
}

.list_link:hover{
    color: #F7D22D;
}

.navbar {
    padding: 32px 0;
    background-color: var(--dots);
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.150);
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    padding: 70px;
}

.main1 {
    font-size: 30px;
    padding: 20px 0;
}

.main2 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    color: gray;
    margin-left: 300px;
    font-size: 30px;
}

.main3,
.main4,
.main5 {
    padding: 0 150px;
    transition: 0.5s;
}

.main3:hover,
.main4:hover,
.main5:hover,
.main6:hover {
    color: white;
}

.rasim {
    width: 80px;
}

.main7 {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #3B3B3B;
    border-radius: 20px;
    margin-top: 100px;
    padding: 0 200px;
    height: 80px;
}

.main8 {
    padding: 0 20px;
    margin-top: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main9,
.main10,
.main11 {
    padding: 0 100px;
    margin-top: 25px;
}

.footer1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    color: grey;
}

.footer2 {
    padding: 15px 0; 
    font-size: 25px;
}

.footer4 {
    padding: 20px 0;
    font-size: 30px;
}

.footer3 {
    display: flex;
    gap: 35px;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.a,
.a1,
.a2,
.a3 {
    transition: 0.5s;
}

.a:hover {
    color: rgb(0, 132, 255);
}

.a1:hover {
    color: red;
}

.a2:hover {
    color: rgb(0, 153, 255);
}

.a3:hover {
    color: #a52a2a;
}

.foto10 {
    cursor: pointer;
}

.footer6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 800px;
    margin-top: -350px;
}

.footer7 {
    padding: 20px 0;
    color: gray;
    transition: 0.5s;
}

.footer8 {
    padding: 20px 0;
    color: gray;
    transition: 0.5s;
}

.footer9 {
    padding: 20px 0;
    color: gray;
    transition: 0.5s;
}

.footer11 {
    padding: 20px 0;
    color: grey;
    font-size: 20px;
}

.footer10 {
    margin-left: 600px;
    margin-top: -250px;
}

.footer12 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px;
    color: white;
}
